In [1]:
import xlwings as xw 
import os 

os.chdir(r'C:\Users\李乔乔\Desktop\python\附件lqq')
os.getcwd()

'C:\\Users\\李乔乔\\Desktop\\python\\附件lqq'

In [2]:
#导入数据
data=xw.App().books.open("yichang.xlsm")
she1=data.sheets[0]
she2=data.sheets[1]
she1

In [3]:
#将要使用的数据提取出来作为数据框
import pandas as pd
da2=pd.DataFrame(she2.range("A1:AB16").value)
da1=pd.DataFrame(she1.range("A1:AB1965").value)
def lis_name(da):
    #将第一行设置为列名
    da.columns=da.iloc[0].values
    #将第一行删除
    da=da.drop(0)
    return(da)
dad1=lis_name(da1)
dad2=lis_name(da2)
#得到索引的行号
list(da1.iloc[:,0]).index(100)
#将每一列的列名变成列表
col_name=list(dad1.columns)

In [17]:
# 用99分位数和1分位数替换
#计算P1和P99
A1 =df.a1.quantile(0.01); A99 = df.a1.quantile(0.99)
#先创建一个新变量，进行赋值，然后将满足条件的数据进行替换
df['a1_new'] = df['a1']
df.loc[df['a1'] > A99,'a1_new']  = A99
df.loc[df['a1'] < A1,'a1_new']  = A1

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
1,1,2,753.035,87.6538,81.5582,85.6116,85.6297,85.8076,82.3465,84.7696,...,6,14,2,3,19,11,10,30,5,0
2,2,3,88.9228,82.9463,85.1661,85.1897,77.7625,83.5956,82.1524,88.8725,...,6,5,4,4,18,10,8,0,30,0
3,3,3,95.0483,93.3331,77.6604,93.0343,88.87,94.17,95.6027,95.8774,...,4,9,5,2,24,10,17,0,0,0
4,4,3,71.1523,76.7858,66.6917,81.9261,66.655,77.7737,77.5802,76.9895,...,6,10,4,7,27,10,10,18,25,0
5,5,3,70.574,71.6459,70.4446,74.0298,66.655,66.3361,62.093,74.437,...,6,13,4,2,25,15,15,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960,1960,2,71.3577,75.3737,70.4446,77.767,68.4303,75.027,75.4823,70.334,...,5,6,3,5,25,11,20,0,0,0
1961,1961,2,99.0369,99.0302,99.0326,99.9833,99.9775,99.9919,99.9927,99.9804,...,5,14,7,9,29,9,9,30,20,0
1962,1962,2,90.7713,91.9211,92.6718,96.7197,94.9619,97.2452,95.6027,95.8774,...,6,8,4,5,39,20,17,0,30,0
1963,1963,2,82.4273,88.5115,74.0525,93.0343,76.4617,94.7047,91.1636,95.8774,...,6,8,4,4,21,12,7,20,20,0
1964,1964,2,77.8087,77.8035,702.996,77.767,61.8037,77.7737,73.1902,58.7965,...,6,7,4,3,25,10,12,25,0,0

In [6]:
#得到数据框的行数
da1.shape[1]
#得到数据框的列数
len(da1)
#将每列的分位数提取出来
def fenwei(da):
    lis1=[]
    lis2=[]
    lis3=[]
    for i in range(da.shape[1]):
        lis1.append(da.iloc[:,i].quantile(0.01))
        lis2.append(da.iloc[:,i].quantile(0.99))
        lis3.append(list(da.columns)[i])
        #将数据框进行整合
    #先将列表变成数据框
    li1=pd.DataFrame(lis1)
    li2=pd.DataFrame(lis2)
    li3=pd.DataFrame(lis3)
    df1=pd.concat([li3,li1,li2],axis=1)
    df1.columns=["名称","下限","上限"]
    #转置数据框
    #lis=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)
   # lis=pd.concat([lis0,lis3],axis=1)
    return df1

In [7]:
lis1=fenwei(dad1)
lis1

#lis1.iloc[2,i]

        名称           下限           上限
0   目标客户编号    20.630000  1944.370000
1     品牌类型     1.000000     3.000000
2       a1    53.662796    99.036888
3       a2    51.862305    99.030172
4       a3    44.454465    99.032550
5       a4    52.284208    99.983342
6       a5    49.389285    99.977498
7       a6    52.477518    99.991867
8       a7    53.201275    99.992713
9       a8    51.442406    99.980365
10      B1     1.000000     2.000000
11      B2     3.000000    44.370000
12      B3     1.000000     4.000000
13      B4     1.000000    20.000000
14      B5     1.000000     6.000000
15      B6     1.000000     6.000000
16      B7     1.000000     2.000000
17      B8  1972.000000  1997.000000
18      B9     3.000000     8.000000
19     B10     1.000000    25.000000
20     B11     1.000000     8.000000
21     B12     1.000000    10.000000
22     B13     8.000000    70.000000
23     B14     5.000000    60.000000
24     B15     4.000000    50.000000
25     B16     0.000000    50.000000
26     B17     0.000000    40.000000
27    购买意愿     0.000000     1.000000

In [243]:
#将异常的数据提取出来
#da是数据框
def yichang(da):
    #建立一个空的数据框
    da1=pd.DataFrame(columns=list(da.columns))
    for i in range(da.shape[1]):
        #依次提取列
        col=da.iloc[:,i]
         #依次提取列中的元素
        try:
            for s in col:
                if s<col.quantile(0.01) or s>col.quantile(0.99):
                #将有异常的这一行留下来
                #并且与da1合并
                    df1=pd.DataFrame(da.iloc[list(col).index(s)])
                    #因为是索引行，上面得到的是一个列数据，所以需要将数据框转置
                    df2=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)  
                    #将每一个得到行数据框，与前一个数据框上下合并
                    da1=da1.append(df2)
        except:
            df1=pd.DataFrame(da.iloc[list(col).index(s)])
                    #因为是索引行，上面得到的是一个列数据，所以需要将数据框转置
            df2=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)  
                    #将每一个得到行数据框，与前一个数据框上下合并
            da1=da1.append(df2)
            
    return da1

In [103]:

# col=dad1.iloc[:,0]

#dad1.iloc[list(col).index(99)]
#ta1=dad1.append(pd.DataFrame(dad1[list(col).index(99)]))
#yc_data=yichang(dad1)

In [150]:
#导入数据，并且对导出异常的数据
yicha_data= pd.read_csv("yichang.csv",engine='python')
yicha_data
yic=yichang(yicha_data)
yic
#yc_data.drop_duplicates()
#dad1.describe()

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,1,2,753.04,87.65,81.56,85.61,85.63,85.81,82.35,84.77,...,6,14,2,3,19,11,10,30,5,0
1,2,3,88.92,82.95,85.17,85.19,77.76,83.6,82.15,88.87,...,6,5,4,4,18,10,8,0,30,0
2,3,3,95.05,93.33,77.66,93.03,88.87,94.17,95.6,95.88,...,4,9,5,2,24,10,17,0,0,0
3,4,3,71.15,76.79,66.69,81.93,66.65,77.77,77.58,76.99,...,6,10,4,7,27,10,10,18,25,0
4,5,3,70.57,71.65,70.44,74.03,66.65,66.34,62.09,74.44,...,6,13,4,2,25,15,15,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,825,2,84.32,83.24,77.95,88.88,88.71,83.06,88.69,85.89,...,4,13,5,4,10,6,3,0,55,0
291,292,2,61.47,69.29,51.82,81.45,57.32,63.92,79.86,62.98,...,6,5,4,7,13,7,4,0,50,0
291,292,2,61.47,69.29,51.82,81.45,57.32,63.92,79.86,62.98,...,6,5,4,7,13,7,4,0,50,0
824,825,2,84.32,83.24,77.95,88.88,88.71,83.06,88.69,85.89,...,4,13,5,4,10,6,3,0,55,0
291,292,2,61.47,69.29,51.82,81.45,57.32,63.92,79.86,62.98,...,6,5,4,7,13,7,4,0,50,0

In [151]:
#去掉重复的数据
a=yic.drop_duplicates()
yic.describe()
a.to_csv("yicha_data.csv")

#可以将异常值的数据与每列的分位数数据lis1放入excel中比较，对异常的具体指标数值进行标亮

In [157]:
# col=dad1.iloc[:,0]
#df1=pd.DataFrame(dad1.iloc[list(col).index(99):,])
#df1.values
#df1.index
col=dad1.iloc[:,0]

In [275]:

import numpy as np
#对异常值进行补齐
#def yichang_buqi(da,lis1):
    lis=list(da.columns)
  #  for i in range(da.shape[1]):
       # col=col.map(lambda x:x=col.quantile(0.01) if x<col.quantile(0.01) else x)
       # col=col.map(lambda x:x=col.quantile(0.99) if x>col.quantile(0.99) else x)
        a=lis[i]
        da.loc[da.iloc[:,i]<lis1[1,i],str(a)]=lis1.iloc[1,i]
       
    return da

In [10]:

#导入数据，并且对导出异常的数据
yicha_data= pd.read_csv("yichang.csv",engine='python')
da=yicha_data
#简单缺少补齐 ，实际上应该用EM算法等补齐
da.fillna(0,inplace=True)

da
da.describe()

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
count,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,...,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000,1973.000000
mean,978.018246,1.777496,77.911825,77.773213,75.873001,78.482671,77.080816,77.523822,77.664308,77.225808,...,5.444501,10.035479,4.397871,4.855550,26.646159,16.508870,16.352255,15.210340,9.547390,0.050177
std,569.668929,0.564914,18.373452,10.459965,18.290008,10.558607,16.064748,10.721584,10.609398,10.902019,...,0.926610,4.942238,1.576107,2.541724,12.758450,10.938494,10.074977,13.148892,12.435571,0.218366
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,485.000000,1.000000,72.670000,72.980000,70.440000,74.080000,71.670000,72.490000,73.200000,73.660000,...,5.000000,6.000000,3.000000,3.000000,18.000000,10.000000,10.000000,0.000000,0.000000,0.000000
50%,978.000000,2.000000,77.810000,77.800000,77.810000,77.770000,77.760000,77.770000,77.770000,77.760000,...,6.000000,10.000000,4.000000,4.000000,25.000000,14.000000,14.000000,15.000000,6.000000,0.000000
75%,1471.000000,2.000000,83.390000,84.100000,81.560000,85.190000,83.850000,83.600000,84.310000,84.770000,...,6.000000,13.000000,5.000000,7.000000,30.000000,20.000000,20.000000,24.000000,15.000000,0.000000
max,1964.000000,3.000000,753.040000,99.030000,703.000000,99.980000,605.630000,99.990000,99.990000,99.980000,...,8.000000,38.000000,9.000000,11.000000,100.000000,95.000000,80.000000,60.000000,300.000000,1.000000

In [14]:
#lis=list(da.columns)
   # for i in range(da.shape[1]):
       # col=col.map(lambda x:x=col.quantile(0.01) if x<col.quantile(0.01) else x)
       # col=col.map(lambda x:x=col.quantile(0.99) if x>col.quantile(0.99) else x)

#yichang_buqi(da,lis1)

In [289]:
#不加则为行
#da=da.drop(["nu1"],axis=1)
da

,目标客户编号,品牌类型,a1,a2,a3,a4,a5,a6,a7,a8,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,1.0,2.0,753.04,87.65,81.56,85.61,85.63,85.81,82.35,84.77,...,6.0,14.0,2.0,3.0,19.0,11.0,10.0,30.0,5.0,0.0
1,2.0,3.0,88.92,82.95,85.17,85.19,77.76,83.60,82.15,88.87,...,6.0,5.0,4.0,4.0,18.0,10.0,8.0,0.0,30.0,0.0
2,3.0,3.0,95.05,93.33,77.66,93.03,88.87,94.17,95.60,95.88,...,4.0,9.0,5.0,2.0,24.0,10.0,17.0,0.0,0.0,0.0
3,4.0,3.0,71.15,76.79,66.69,81.93,66.65,77.77,77.58,76.99,...,6.0,10.0,4.0,7.0,27.0,10.0,10.0,18.0,25.0,0.0
4,5.0,3.0,70.57,71.65,70.44,74.03,66.65,66.34,62.09,74.44,...,6.0,13.0,4.0,2.0,25.0,15.0,15.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1969,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1970,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1971,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1972,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
#定义函数 若有异常，即为超过3δ，或者小于，则用范围的最大或者最小来补齐
import numpy as np
def fenwei_queshi(data,data1):
     #建立一个空的数据框
    da1=pd.DataFrame(columns=list(data.columns))
    for i in range(2,data.shape[1]):
       # col=data.iloc[:,i]
       # name=list(data.columns)
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: np.nan if x<data1["下限"][i]  else x)
        da1.iloc[:,i]=data.iloc[:,i].apply(lambda x: np.nan if x>data1["上限"][i]  else x)
    return da1

In [9]:
#将异常的数据提取出来
#da是数据框
def yichang(da,data1):
    #建立一个空的数据框
    da1=pd.DataFrame(columns=list(da.columns))
    for i in range(2,da.shape[1]):
        #依次提取列
        col=da.iloc[:,i]
         #依次提取列中的元素
        try:
            for s in col:
                if s<data1["下限"][i-2] or x>data1["上限"][i-2]:
                #将有异常的这一行留下来
                #并且与da1合并
                    df1=pd.DataFrame(da.iloc[list(col).index(s)])
                    #因为是索引行，上面得到的是一个列数据，所以需要将数据框转置
                    df2=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)  
                    #将每一个得到行数据框，与前一个数据框上下合并
                    da1=da1.append(df2)
        except:
            df1=pd.DataFrame(da.iloc[list(col).index(s)])
                    #因为是索引行，上面得到的是一个列数据，所以需要将数据框转置
            df2=pd.DataFrame(df1.values.T,index=df1.columns,columns=df1.index)  
                    #将每一个得到行数据框，与前一个数据框上下合并
            da1=da1.append(df2)
            
    return da1

In [15]:
fenwei_queshi(da,lis1)

TypeError: '>' not supported between instances of 'numpy.ndarray' and 'str'